<% if @post %>
  <article>
    <h1><%= @post.title %></h1>
    <p><%= @post.author %></p>
    <p><%= @post.date %></p>
    <div>
      <%= @post.body %>
    </div>
    <% if @tags %>
      <footer>
          <% @tags.each do |tag| %>
            <span><%= tag.tag %></span>
          <% end %>
      </footer>
    <% end %>
  </article>
    
    <a href="/posts/<%= @post.id %>/edit">Edit</a>
    <form action="/posts/<%= @post.id %>" method="post">
      Delete: <input type="submit">
    </form>
<% end %>

